body {
  background-color: #caa07a;
  background-image: url('../images/bg.jpg');
  font-family: "Comic Sans MS", "Verdana", "Arial";
  font-size: 100%;
}

nav, #wrapper {
  padding: 10px;
}
#wrapper {
  width: 40em;
}

nav a {
  display: block;
  background: url(../images/menu.png) left top no-repeat;
  font-size: 1.4em;
  padding: 40px 40px 10px;
  margin: 4px 10px;
}

header {
  margin: 1em;
  text-align: right;
}

header h2 {
  font-size: 1.4em;
  color: #5a3e10;
}

main {
  padding: 30px;
  background-image: url('../images/bg_content.png');
  font-family: "Times New Roman", "Times", "Arial";
  font-size: 14px;
  margin: 30px 30px 10px;
  width: 100%;
}

footer {
  font-size: 0.8em;
  font-family: "Verdana", "Tahoma", "Arial";
}

h1 {
  font-size: 1.1em;
  font-weight: bold;
  color: #8b1a05;
  line-height: 2em;
}

.inline-image {
  margin: 4px 16px 4px;
}
.inline-image.-right {
  float: right;
}

p {
  margin-bottom: 1em;
  line-height: 1.4em;
  text-align: justify;
}
.-small {
  font-size: 0.8em;
}
.-centered {
  text-align: center;
}
.-italic {
  font-style: italic;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 1em;
}
li {
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #8b1a05;
}

a:hover {
  text-decoration: underline;
}
