<!DOCTYPE html>
<html>
  <head>
  	<title>Welkom bij Honderonde | Uw hondenuitlaatservice in Rotterdam-Noord</title>
   	<link rel="stylesheet" type="text/css" href="style/style.css">
  </head>

  <body>
    <div id="logo"></div>

    <div id="phrase">Uw hondenuitlaatservice in Rotterdam-Noord</div>

    <div id="menu">
      <a href="index.html"><img src="images/menu_honderonde.png" alt="Honderonde" /></a>
      <a href="informatie.html"><img src="images/menu_informatie.png" alt="Informatie" /></a>
      <a href="voorwaarden.html"><img src="images/menu_voorwaarden.png" alt="Voorwaarden" /></a>
      <a href="tarieven.html"><img src="images/menu_tarieven.png" alt="Tarieven" /></a>
      <a href="contact.html"><img src="images/menu_contact.png" alt="Contact" /></a>
      <a href="links.html"><img src="images/menu_links.png" alt="Links" /></a>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      <a href="http://www.youcontent.nl" target="_blank">Website door Youcontent | Copyright 2010 Honderonde | )0( </a>
    </div>

  </body>
</html>
