<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=320,initial-scale=1,user-scalable=0'>
  	<title>Welkom bij Honderonde | Uw hondenuitlaatservice in Rotterdam-Noord en Overschie</title>
   	<link rel="stylesheet" type="text/css" href="style/reset.css">
   	<link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel='image_src' href='/images/favicon.pn'/>
    <link rel='shortcut icon' type='image/png' href='/images/favicon.png'/>
  </head>

  <body>

    <header>
      <h1><img src="images/logo.png" alt="Honderonde"></h1>
      <h2>Uw hondenuitlaatservice in Rotterdam-Noord en Overschie</h2>
    </header>

    <div id="wrapper">

      <nav>
        <script>
          function toggleMenu () {
            var menu_links = document.querySelectorAll('.menu-link');
            for (var i = 0; i < menu_links.length; ++i) {
              menu_links[i].classList.toggle('-active');
            }
          }
        </script>
        <div id="menu">
          <a class="menu-link -active" onclick="toggleMenu()" style="float: right; width: 40px; margin: 20px 10px">Menu</a>
          <a class="menu-link" href="/">Honderonde</a>
          <a class="menu-link" href="/informatie">Informatie</a>
          <a class="menu-link" href="/voorwaarden">Voorwaarden</a>
          <a class="menu-link" href="/tarieven">Tarieven</a>
          <a class="menu-link" href="/contact">Contact</a>
          <a class="menu-link" href="/links">Links</a>
        </div>
      </nav>

      <main>
        {{ content }}
        <div style="clear: both">&nbsp;</div>
      </main>

    </div>

    <footer>
      <p  class="-small -centered">
        <a href="http://www.honderonde.nl/contact">(c) 2018 Honderonde</a>
      </p>
    </footer>

  </body>
</html>
